* {
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
}

div.header {
  background: url(http://www.kellylougheed.com/images/backgrounds/santamonica.jpg); 
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: relative;
  transition-property: all;
  transition-duration: .5s;
}

div.intro {
  padding-top: 50px;
  width: 100%;
  text-align: center;
}

h1, h2 {
  text-align: center;
  font-weight: 100;
  margin-bottom: 0;
}

h1 {
  font-family: 'Sacramento', sans-serif;
  font-size: 5em;
  color: #000;
}

div.intro h1 {
  font-size: 5em;
  color: #C70700;
  text-shadow: 1px 2px rgba(255,255,255,.5);
}

div.intro h2 {
  color: #ffffff;
  text-shadow: 1px 1px #000000;
  line-height: 35px;
}

div.down {
  width: 100%;
  text-align: center;
  bottom: 50px;
  position: absolute;
  text-shadow: 1px 2px #000000;
  font-size: 4em;
}

div.down a {
  color: white;
  border: none;
}

div.down a:hover {
  color: #C70700;
  cursor: pointer;
}

p {
	text-align: center;
}

p.about {
  text-align: left;
  line-height: 25px;
  margin: 0 25px 25px 25px;
}

a.contact {
  font-size: 2em;
  color: #ffffff;
  text-shadow: 1px 2px #000000;
  padding: 0 10px 0 10px;
  border: none;
}

a.contact:hover {
  color: #C70700;
  border: none;
}

div.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

div.container img {
    border: 1px solid #aaaaaa;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
}

div.container img:hover {
  box-shadow: 2px 2px 5px rgba(0,0,0,.9);
}

div.container h2 {
  margin-top: 0;
}

li {
  margin-bottom: 10px;
}

img#profile {
  box-shadow: none;
  border: none;
  border-radius: 10%;
  margin: 0 25px 25px 25px;
}

span.title {
  font-size: 1.2em;
  letter-spacing: 2px;
  font-weight: 400;
}

span.descr {
  color: #707070;
}

span.links {
  font-size: 1.5em;
}

span.links.books {
  font-size: 1.2em;
}

span.links a {
  color: #000000;
  border: none;
}

span.links a:hover {
  color: red;
}

.responsive {
  width: 100%;
}

a {
  text-decoration: none;
  transition: color .5s;
  -webkit-transition: color .5s;
  transition: border .5s;
  -webkit-transition: border .5s;
  color: #000;
  border-bottom: 2px solid #C70700;
}

a:hover {
  color: #000;
  border-bottom: 2px solid red;
}

div.footer {
  background-color: #C70700;
  height: 40px;
  color: white;
  font-family: 'Sacramento', sans-serif;
}

div.footer p {
  padding-top: 10px;
}

div.footer a {
  text-decoration: none;
  color: white;
  border: none;
}

div.footer a:hover {
  border-bottom: 1px solid white;
}

/********** Large devices **********/
@media (min-width: 992px) {
  
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    border: none;
    padding: 10px;
    vertical-align: top;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices **********/
@media (min-width: 768px) and (max-width: 991px) {
  
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: none;
    padding: 10px;
    vertical-align: top;
  }
 
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Small devices **********/
@media (max-width: 767px) {

  div.intro h1, h1 {
    font-size: 3em;
  }

  div.intro h2 {
    font-size: 1.1em;
  }

  img#profile {
    margin: 0;
  }

  div.footer {
    height: 80px;
  }

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
    border: none;
    padding: 10px;
    vertical-align: top;
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 74.99%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
